<div th:fragment="header">
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0" >PrimeHost</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/">На главную</a>
            <a class="nav-link active" aria-current="page" href="/blog">Блог</a>
            <a class="nav-link active" aria-current="page" href="/blog/add">Добавить отзыв</a>
            <a class="nav-link" href="#">Контакты</a>
            <a class="nav-link" href="/sup">Поддержка</a>
        </nav>
    </div>
</header>
</div>